{% extends 'base.html' %}
{% load static %}

{% block content %}
     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                         <div class="owl-carousel owl-theme">
                              <div class="item item-first">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10" style="padding-top:250px ">
                                             <h3>Let's make your life happier</h3>
                                             <h1>Healthy Living</h1>
<!--                                             <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>-->
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-second">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10" style="padding-top:250px">
                                             <h3>Aenean luctus lobortis tellus</h3>
                                             <h1>New Lifestyle</h1>
<!--                                             <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>-->
                                        </div>
                                   </div>
                              </div>

                              <div class="item item-third">
                                   <div class="caption">
                                        <div class="col-md-offset-1 col-md-10" style="padding-top:250px">
                                             <h3>Pellentesque nec libero nisi</h3>
                                             <h1>Your Health Benefits</h1>
<!--                                             <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>-->
                                        </div>
                                   </div>
                              </div>
                         </div>

               </div>
          </div>
     </section>


     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your<br> <i class="fa fa-h-square"></i>ealth Center</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p> Could you imagine a life without hospitals? Let me help you out. Just imagine that your friend has met with an accident and is lying on the road, in a pool of blood and a badly wounded forehead. Now, if in this situation, there are no hospitals nearby, do you think he would survive? That’s when we realize the importance of hospitals in our lives. Without hospitals, the simplest diseases would turn out to be fatal. The basic motto of the hospitals is to take care of humanity and this is a great service as it ensures the sustainability of the human race.

Dedicated to health care, hospitals are the healing centers for a host of diseases and other physical & mental conditions. With specialized staff to look into specific concerns and great ambiances, today’s hospitals are known for their hospitality. In addition, the immensely responsible hospital staff make hospitals more than just a house for the sick. Today's hospitals are equipped with state-of-the art technology and infrastructure to serve the masses, which is also the reason why many people are flocking these places for their health concerns. They have developed themselves to cure most of the diseases, thus helping out the mankind. Here are some of the most famous clinic quotations and sayings to help you in exploring the world of physicians and their patients.</p>
                              </div>
<!--                              <figure class="profile wow fadeInUp" data-wow-delay="1s">-->
<!--                                   <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">-->
<!--                                   <figcaption>-->
<!--                                        <h3>Dr. Neil Jackson</h3>-->
<!--                                        <p>General Principal</p>-->
<!--                                   </figcaption>-->
<!--                              </figure>-->
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>



<!--          <section id="team" data-stellar-background-ratio="1">-->
<!--          <div class="container">-->


<!--                    <div class="col-sm-6">-->
<!--                         <div class="about-info">-->
<!--                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>-->
<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="clearfix"></div>-->

<!--                    <div class="row mx_auto">-->
<!--                         {% for dr in doc %}-->
<!--                         <div class="my_bottom_margin col-9 col-sm-12  col-md-4 xol-lg-4">-->
<!--            <div class="card text-center" style="min-width:18rem;">-->
<!--                <a href=""><img class="card-img-top my_image" src="{{dr.image.url}}" style="width:200px;height:250px;" alt=""></a>-->
<!--            <div class="card-body">-->
<!--               <h4>{{dr.name}}</h4>-->
<!--                <p>{{dr.department}}</p>-->
<!--                <li><a href="{{links.get_url}}">{{links.name}}</a></li>-->
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--          </div></section>-->


     <!-- TEAM -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">


                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our Doctors</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="row mx_auto">
                         {% for dr in doc %}
                         <div class="my_bottom_margin col-9 col-sm-12  col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href=""><img class="card-img-top my_image" src="{{dr.image.url}}" style="width:200px;height:250px;" alt=""></a>
            <div class="card-body">
               <h4>{{dr.name}}</h4>
                <p>{{dr.department}}</p>
                            <a class="btn appointment-btn" href="{{dr.get_url}}"  > Details </a>



            </div>
            </div>
        </div>
        {% endfor %}
    </div>
          </div>
     </section>

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">-->
<!--                              {% for dr in doc %}-->
<!--                              <img src="{{dr.image.url}}" class="img-responsive" alt="" >-->

<!--                                   <div class="team-info">-->
<!--                                        <h3>{{dr.name}}</h3>-->
<!--                                        <p>{{dr.department}}</p>-->
<!--                                        <div class="team-contact-info">-->
<!--                                             <p><i class="fa fa-phone"></i> 010-020-0120</p>-->
<!--                                             <p><i class="fa fa-envelope-o"></i> <a href="#">general@company.com</a></p>-->
<!--                                        </div>-->
<!--                                        <ul class="social-icon">-->
<!--                                             <li><a href="#" class="fa fa-linkedin-square"></a></li>-->
<!--                                             <li><a href="#" class="fa fa-envelope-o"></a></li>-->
<!--                                        </ul>-->
<!--                                   </div>-->
<!--                              {% endfor %}-->

<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">-->
<!--                              <img src="{% static 'images/team-image2.jpg' %}" class="img-responsive" alt="" style="height:400px; width:100px;">-->

<!--                                   <div class="team-info">-->
<!--                                        <h3>Jason Stewart</h3>-->
<!--                                        <p>Pregnancy</p>-->
<!--                                        <div class="team-contact-info">-->
<!--                                             <p><i class="fa fa-phone"></i> 010-070-0170</p>-->
<!--                                             <p><i class="fa fa-envelope-o"></i> <a href="#">pregnancy@company.com</a></p>-->
<!--                                        </div>-->
<!--                                        <ul class="social-icon">-->
<!--                                             <li><a href="#" class="fa fa-facebook-square"></a></li>-->
<!--                                             <li><a href="#" class="fa fa-envelope-o"></a></li>-->
<!--                                             <li><a href="#" class="fa fa-flickr"></a></li>-->
<!--                                        </ul>-->
<!--                                   </div>-->

<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">-->
<!--                              <img src="{% static 'images/team-image3.jpg' %}" class="img-responsive" alt="" style="height:400px; width:100px;">-->

<!--                                   <div class="team-info">-->
<!--                                        <h3>Miasha Nakahara</h3>-->
<!--                                        <p>Cardiology</p>-->
<!--                                        <div class="team-contact-info">-->
<!--                                             <p><i class="fa fa-phone"></i> 010-040-0140</p>-->
<!--                                             <p><i class="fa fa-envelope-o"></i> <a href="#">cardio@company.com</a></p>-->
<!--                                        </div>-->
<!--                                        <ul class="social-icon">-->
<!--                                             <li><a href="#" class="fa fa-twitter"></a></li>-->
<!--                                             <li><a href="#" class="fa fa-envelope-o"></a></li>-->
<!--                                        </ul>-->
<!--                                   </div>-->

<!--                         </div>-->
<!--                    </div>-->
                    <section id="team" data-stellar-background-ratio="1">
          <div class="container">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2 style="padding-left:30px">Departments</h2>
                         </div>
      {% for dpt in dept %}

<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">{{dpt.name}}</h5>
    <p class="card-text">{{dpt.desc}}.</p>
    <a href="{{dpt.get_url}}" class="btn btn-primary appointment-btn">Docter details </a>
  </div>
</div>
{% endfor %}
          </div>
                    </section>


<!--     &lt;!&ndash; NEWS &ndash;&gt;-->
<!--     <section id="news" data-stellar-background-ratio="2.5">-->
<!--          <div class="container">-->
<!--               <div class="row">-->

<!--                    <div class="col-md-12 col-sm-12">-->
<!--                         &lt;!&ndash; SECTION TITLE &ndash;&gt;-->
<!--                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">-->
<!--                              <h2>Latest News</h2>-->
<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         &lt;!&ndash; NEWS THUMB &ndash;&gt;-->
<!--                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">-->
<!--                              <a href="news-detail.html">-->
<!--                                   <img src="{% static 'images/news-image1.jpg' %}" class="img-responsive" alt="">-->
<!--                              </a>-->
<!--                              <div class="news-info">-->
<!--                                   <span>March 08, 2018</span>-->
<!--                                   <h3><a href="news-detail.html">About Amazing Technology</a></h3>-->
<!--                                   <p>Maecenas risus neque, placerat volutpat tempor ut, vehicula et felis.</p>-->
<!--                                   <div class="author">-->
<!--                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">-->
<!--                                        <div class="author-info">-->
<!--                                             <h5>Jeremie Carlson</h5>-->
<!--                                             <p>CEO / Founder</p>-->
<!--                                        </div>-->
<!--                                   </div>-->
<!--                              </div>-->
<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         &lt;!&ndash; NEWS THUMB &ndash;&gt;-->
<!--                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">-->
<!--                              <a href="news-detail.html">-->
<!--                                   <img src="{% static 'images/news-image2.jpg' %}" class="img-responsive" alt="" style="">-->
<!--                              </a>-->
<!--                              <div class="news-info">-->
<!--                                   <span>February 20, 2018</span>-->
<!--                                   <h3><a href="news-detail.html">Introducing a new healing process</a></h3>-->
<!--                                   <p>Fusce vel sem finibus, rhoncus massa non, aliquam velit. Nam et est ligula.</p>-->
<!--                                   <div class="author">-->
<!--                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">-->
<!--                                        <div class="author-info">-->
<!--                                             <h5>Jason Stewart</h5>-->
<!--                                             <p>General Director</p>-->
<!--                                        </div>-->
<!--                                   </div>-->
<!--                              </div>-->
<!--                         </div>-->
<!--                    </div>-->

<!--                    <div class="col-md-4 col-sm-6">-->
<!--                         &lt;!&ndash; NEWS THUMB &ndash;&gt;-->
<!--                         <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">-->
<!--                              <a href="news-detail.html">-->
<!--                                   <img src="{% static 'images/news-image3.jpg' %}" class="img-responsive" alt="">-->
<!--                              </a>-->
<!--                              <div class="news-info">-->
<!--                                   <span>January 27, 2018</span>-->
<!--                                   <h3><a href="news-detail.html">Review Annual Medical Research</a></h3>-->
<!--                                   <p>Vivamus non nulla semper diam cursus maximus. Pellentesque dignissim.</p>-->
<!--                                   <div class="author">-->
<!--                                        <img src="{% static 'images/author-image.jpg' %}" class="img-responsive" alt="">-->
<!--                                        <div class="author-info">-->
<!--                                             <h5>Andrio Abero</h5>-->
<!--                                             <p>Online Advertising</p>-->
<!--                                        </div>-->
<!--                                   </div>-->
<!--                              </div>-->
<!--                         </div>-->
<!--                    </div>-->

<!--               </div>-->
<!--          </div>-->
<!--     </section>-->




     <!-- GOOGLE MAP -->
     <section id="google-map">
     <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
     </section>           


    {% endblock %}